@media (max-width: 1200px)
  .header-container,
  .hero-container,
  .about-container,
  .geography-container,
  .footer-container,
  .breadcrumb-container,
  .main-info__container,
  .contacts-container
    max-width: 92%
  .hero
    &__title
      // font-size: 30px
    &__link
      padding: 8px 18px
      font-size: 15px

@media (max-width: 992px)
  .header-container,
  .hero-container,
  .about-container,
  .geography-container,
  .footer-container,
  .breadcrumb-container,
  .main-info__container,
  .contacts-container,
  .company-container
  .methods-container
    max-width: 90%
  .header
    &__logo
      width: 125px
      height: 58px

  .navbar
    &__list
      font-size: 14px

  .hero
    &__title
      // max-width: 700px
      font-size: 25px
    &__link
      padding: 8px 18px
      font-size: 15px
    &__container
      height: 500px

  .about
    &__title
      font-size: 20px
    &__wrapper
      align-items: center
      &--text
        display: flex
        max-width: 100%
        margin-right: 0

      &--images
        width: 100%
        justify-content: center
        margin-top: 50px
    &__image
      flex-basis: 55%
    &__text
      font-size: 13px
    &__button
      font-size: 12px
      padding: 10px

  .methods
    &__title
      font-size: 20px
    &__text
      font-size: 13px
      max-width: 500px
    &__wrapper
      flex-basis: 50%
    &-slide
      gap: 20px
    &__image-wrapper
      max-width: 300px
    &__button
      padding: 7px

  .geography
    &__title
      font-size: 20px

  .footer
    &__nav
      grid-template-columns: repeat(2, 50%)
      row-gap: 40px
    &__text
      font-size: 13px
      width: 330px
  .contacts
    &__form
      max-width: 50%
    &__input-group
      flex-basis: 100%
    &__text, &__link
      font-size: 12px
  .map
    height: 350px

@media (max-width: 767px)
  body
    padding-top: 80px
  .header
    padding: 20px 0 20px 0
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 99
    background-color: #fff
    &__logo
      width: 100px
      height: 40px

  .navbar
    &__list
      font-size: 13px
      display: none
  .menu-button
    display: flex
    width: 16px
    height: 11px
    padding: 0
    align-items: center
    flex-direction: column
    justify-content: space-between
    border: none
    cursor: pointer
    outline: none
    background-color: #fff
    &__line
      background-color: $primary
      width: 16px
      height: 1px
  .hero
    &__title
      // max-width: 560px
      font-size: 22px
    &__link
      padding: 6px 16px
      font-size: 13px
      max-width: 130px
    &__span

  .about
    padding-top: 30px
    padding-bottom: 20px
    &__title
      font-size: 20px
    &__description
      font-size: 15px
      flex-basis: 50%
    &__text
      font-size: 12px
    &__image
      flex-basis: 50%
      &-wrapper
        max-width: 140px
        height: 200px
    &__link
      font-size: 12px
    &__wrapper
      align-items: center

  .subscribe
    &__title
      font-size: 16px
    &__link
      padding: 9px 2px
      font-size: 10px
  .methods
    &-slide
      flex-direction: column
    &__title
      margin-bottom: 30px
    &__text-title
      font-size: 14px
    &__text
      font-size: 12px
      line-height: 2
    &__button
      font-size: 12px
  .geography
    &__title
      font-size: 20px

  .footer
    &__text
      max-width: 260px

  .main-info
    &__container
      flex-direction: column
    &__right-side
      margin-top: 20px
      margin-left: 0
      min-width: 100%
    &__employe-text
      font-size: 18px

  .contacts
    &__title
      font-size: 22px
      &--little
        font-size: 18px
    &__content
      flex-wrap: wrap
      padding-left: 20px
      padding-right: 20px
    &__form
      max-width: 100%
      margin-right: 0
    &__address
      &-wrapper
        justify-content: space-evenly

  .map
    width: 100%

  .swiper-container
    min-height: 650px

@media ( max-width: 576px )
  .hero
    &__title
      font-size: 18px
    &__link
      padding: 4px 12px
      font-size: 10px
    &__container
      height: 350px
    &__image
      height: 500px
    &__span
      color: #fff
      font-size: 12px
  .about
    &__title
      font-size: 18px

    &__description
      font-size: 12px
    &__button
    &__wrapper
      flex-direction: column
      margin-bottom: 20px
    &__image
      max-width: 400px
    &__button
      font-size: 10px
  .subscribe
  .methods
    padding: 30px 0 0 0
    &__button
      padding: 8px
  .geography
    &__title
      font-size: 18px
    &__modal-title, &__text
      font-size: 8px
  .footer
    &__menu-title
      font-size: 14px
    &__item
      font-size: 12px
    &__text
      font-size: 12px
      max-width: 230px
  .main-info
    &__employe
      &-wrapper
        gap: 20px
  .contacts
    padding-top: 10px

@media ( max-height: 487px )
  .mobile
    overflow: auto
    max-height: 100%

@media ( max-width: 476px )
  .footer
    &__nav
      grid-template-columns: repeat(1, 250px)
      row-gap: 40px
  .contacts
    &__title
      font-size: 18px
      &--little
        font-size: 14px
    &__input
      font-size: 12px
    &__message
      font-size: 12px
    &__button
      padding: 10px
      min-width: 120px
      font-size: 10px
    &__info
      font-size: 10px
@media ( max-width: 390px )
  .header
    &__logo
      width: 80px
      height: 30px
  .hero
    padding-top: 15px
    padding-bottom: 15px
    &__swiper-button
      width: 10px
      height: 10px
    &__title
      font-size: 15px
    &__link
      padding: 2px 6px
      font-size: 10px
      max-width: 100px
  .about
    &__description
      margin-right: 0
    &__wrapper
      &--text
        flex-wrap: wrap
    &__link
      font-size: 11px
      top: 5px
      left: 3px
    &__image
      &-wrapper
        margin-right: 15px
  .main-info
    padding-top: 0
  .contacts
    &__container
      flex-wrap: wrap
    &__button
      margin-bottom: 10px
  .map
    height: 250px
