.about
  padding-top: 77px
  padding-bottom: 20px
  &-container
    max-width: 1140px
    margin: auto
  &__title
    font-style: normal
    font-weight: bold
    font-size: 22px
    line-height: 33px
    text-transform: uppercase
    color: $primary
    margin-bottom: 20px
    border-bottom: 1px solid hsla(206, 56, 22 , .3 )
    // max-width: 170px

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 50px
  &__image
    flex-basis: 60%
  &__description
    flex-basis: 40%
    text-align: left
  &__text
    font-style: normal
    font-weight: lighter
    font-size: 15px
    color: #48555B
    letter-spacing: 1.5px
  &__button
    background-color: $primary
    color: #fff
    padding: 12px
    font-style: normal
    font-weight: 800
    font-size: 14px
    text-decoration: none
    cursor: pointer
    &:hover
      color: #fff
      text-shadow: 0 0 12px hsla(0,0%,100%,.8)
