.company
  padding-top: 20px
  padding-bottom: 70px
  &-container
    max-width: 1170px
    margin: auto
  &__title
    font-style: normal
    font-weight: bold
    font-size: 26px
    text-transform: uppercase
    color: $primary
    border-bottom: 1px solid
    max-width: max-content
    margin: auto
    margin-bottom: 20px
    border-color: hsla(206, 56, 22, .2)
  &__wrapper
    position: relative
    display: flex
    justify-content: center
    min-height: 500px
  &__text
    font-style: normal
    font-size: 15px
    color: #48555B
    letter-spacing: 1.5px
    &-wrapper
      max-width: 75%
      position: absolute
      padding: 15px
      filter: drop-shadow(1px 1px 10px #183B56)
      background-color: #fff
      height: max-content
      bottom: -125px
      text-align: center
  &__description
    padding: 20px
    max-width: 100%
    margin: auto
    margin-top: 40px
    background-color: #fff
  &__list
    letter-spacing: 1.3px
    margin-bottom: 20px
    border-left: 2px solid
    border-color: rgba(25, 60, 88, 0.5)
  &__item
    margin-top: 15px
    color: $primary
    font-size: 14px
  &__info
    padding: 20px
    max-width: 100%
    margin: auto
    margin-top: 180px
    background-color: #fff
  &__images
    &-wrapper
      margin: auto
      margin-top: 40px
  &__image-wrapper
    &:first-child
      margin-right: 20px
  &__image
    max-height: 750px
