.technologies
  padding-top: 20px
  padding-bottom: 50px
  &-container
    max-width: 1170px
    margin: auto
  &__title
    font-style: normal
    font-size: 23px
    text-transform: uppercase
    color: $primary
    text-align: center
    border-bottom: 1px solid
    border-color: hsla(206, 56, 22, .2)
    margin-bottom: 20px
    &--little
      font-style: normal
      margin-top: 30px
      font-size: 15px
      color: $primary
      margin-left: 10px
      margin-top: 25px
      padding-top: 15px
  &__text
    margin-top: 20px
    background-color: #fff
    font-style: normal
    // font-weight: lighter
    font-size: 14px
    color: #48555B
    letter-spacing: 1.5px
    border-left: 2px solid
    border-color: hsla(206, 56, 22, .5)
    padding: 10px
    &--center
      text-align: center
      border: none
      font-size: 17px
  &__main-wrapper
    margin: auto
    margin-top: 20px
    max-width: 85%
  &__image
    object-fit: cover
    height: 350px
  &__info
    background-color: #fff
  &__images-wrapper
    display: flex
    justify-content: space-evenly
    align-items: center
    gap: 10px
  &__image-wrapper
    margin-top: 20px
    margin-bottom: 30px
    flex-basis: 27%
